@import "../../sass/variables";

.grants-full {
  padding-bottom: 151px;
  .top__grants-full {
    gap: 20px;
    align-items: start;
    .back-group {
      margin-top: 20px;
      margin-left: -70px;
    }
  }
  .grants-card {
    display: block;
    height: auto !important;
    width: 924px;
    background: $white;
    .grants-full__top {
      align-items: start;
      gap: 20px;
    }
    .left__footer {
      gap: 20px;
      p {
        color: $grey;
      }
    }
    .info-box__grants-card {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      ul {
        padding-left: 20px;
      }
      ul li {
        list-style-type: disc;
      }
      .first__info-box {
        padding-bottom: 21px !important;
        h6 {
          margin-bottom: 10px;
        }
      }
      .second__info-box {
        margin-bottom: 10px;
        h6,
        p {
          margin-bottom: 5px;
        }
      }
      .third__info-box {
        margin-bottom: 40px;
        h6 {
          margin-bottom: 5px;
        }
      }
    }

    .footer__grants-card {
      margin-top: auto;
      .left__footer {
        a {
          color: $green !important;
          text-decoration-line: underline;
        }
      }
      .right__footer {
        p {
          gap: 5px;
          margin-right: 40px;
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .top__grants-full {
    flex-direction: column;
    gap: 0 !important;
  }
  .grants-card {
    width: 924px !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;

    .grants-card__img {
      width: 100% !important;
    }
  }
}
@media (max-width: 1030px) {
  .grants-card {
    width: 100% !important;
    .grants-card__middle p {
      width: 100% !important;
    }
  }
}
@media (max-width: 830px) {
  .grants-card {
    width: 100% !important;
  }
}
@media (max-width: 430px) {
  .grants-full {
    .footer__grants-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;
      .right__footer {
        align-self: end;
      }
    }
  }
}
