@import "../../sass/variables";
.grants-full__top {
  gap: 20px;
  align-items: start;
  .back-group {
    margin-top: 20px;
    margin-left: -70px;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: $green;
    cursor: pointer;
  }
}
.grants-container {
  padding-bottom: 151px;
  .grants-box__auto {
    display: block;
    height: auto !important;
    .grants-full__top {
      align-items: start;
      gap: 20px;
    }
    .left__footer {
      gap: 20px;
      p {
        color: $grey;
      }
    }
    .info-box__grants {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      ul{

        padding-left: 20px;
      }
      ul li{
        list-style-type: disc;
      }
      p,h6{
      }
      .first__info-box {
        padding-bottom: 21px !important;
        h6{
          margin-bottom: 10px;
        }
      }
      .second__info-box{
        margin-bottom: 10px;
        h6,p{
          margin-bottom: 5px;
        }
      }
      .third__info-box{
        margin-bottom: 40px;
        h6{
          margin-bottom: 5px;
        }
      }
    }

    .footer__grants-main{
      margin-top: auto;
      .left__footer{
        a{
          color: $green !important;
          text-decoration-line: underline;
        }
      }
      .right__footer{
        p{
          gap: 5px;
          margin-right: 40px;
        }
      }
    }

  }
}
