@import "../../sass/variables.scss";
.events-full {
  overflow: hidden;
  padding-bottom: 60px;
  .events-full__card {
    width: 889px;
    display: flex;
    gap: 30px;
    flex-direction: column;

    .top__event-card {
      display: flex;
      flex-direction: column;

      .data-group__event-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      }

      .img-group__event-card {
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 400px;
          background-size: cover;
        }
      }

      .btn-group__event-card {
        align-self: end;
        button {
          width: 180px;
          height: 40px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: $green;
        }
      }
    }
    .bottom__event-card {
      background: $white;
      padding: 20px;
      h1 {
        margin-bottom: 10px;
      }
      .info__event-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .content__info {
          display: flex;
          justify-content: space-between;
        }
        .text__info {
          font-weight: 400;
        }
      }
    }
    .right__data-group {
      display: flex;
      gap: 5px;
      span {
        display: flex;
        align-items: center;
        gap: 3px;
        p {
          color: $grey;
        }
      }
    }
  }
  .font-style__3441 {
    margin-top: 40px;
  }
  .same-cards-container {
    margin-top: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .same-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      min-width: 110%;

      .same-card {
        width: 379px;
        background: $white;

        .info__same-card {
          display: flex;
          flex-direction: column;
          padding: 20px;
          h5 {
            margin-bottom: 5px;
            font-weight: 500;
          }
          .font-style__1417 {
            margin-bottom: 21px;
          }
          .bottom__same-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .dates____same-card {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .top__datess {
                display: flex !important;
                gap: 5px;
                div {
                  display: flex;
                  gap: 3px;
                  align-items: center;
                  p {
                    color: $grey;
                  }
                }
              }
              .font-style__1417 {
                margin-top: 5px;
                gap: 3px;
                color: $grey;
              }
            }
            .actions____same-card {
              gap: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .events-full {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .events-full__card {
      align-self: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 1300px) {
  .events-full {
    width: 100% !important;

    .same-cards-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .same-cards {
        min-width: none;
        width: 100%;
        justify-content: center !important;
        margin: 0 auto;
        margin-right: 0;
        .same-card {
          width: 25%;
        }
      }
    }
  }
}
@media (max-width: 1130px) {
  .events-full .events-full__card .bottom__event-card {
    width: 90% !important;
  }
  .events-full .events-full__card {
    width: 95% !important;
  }
  .events-full__card .top__event-card .img-group__event-card {
    img {
      // max-width: 960px;
      width: 100%;
      // height: auto;
      // height: 300px !important;
    }
  }
}
@media (max-width: 1000px) {
  .events-full__card .top__event-card .img-group__event-card {
    img {
      width: 100%;
      max-width: 760px;
      height: auto;
      // height: 300px !important;
    }
  }
  .events-full .events-full__card .top__event-card .data-group__event-card {
    margin-bottom: 0 !important;
  }
  .events-full .events-full__card .top__event-card .img-group__event-card {
    margin-bottom: 0 !important;
  }
  .events-full .events-full__card .bottom__event-card {
    width: 100% !important;
  }
  .same-card {
    width: 40% !important;
    .same-card__img {
      width: 100%;
    }
  }
}
@media (max-width: 800px) {
  .events-full__card .top__event-card .img-group__event-card {
    img {
      height: 350px !important;
    }
  }
}
@media (max-width: 650px) {
  .events-full__card .top__event-card .img-group__event-card {
    img {
      height: 300px !important;
    }
  }
  .same-card {
    width: 300px !important;
    width: 100%;
    .same-card__img {
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .events-full__card .top__event-card .img-group__event-card {
    img {
      height: 230px !important;
    }
  }
  .same-card {
    // width: 300px !important;
    width: 85% !important;
  }
}
