@import "../../../../sass/variables";
.vacancy-feed {
  margin-top: 20px;
  margin-bottom: 18px;
  width: 1007px;
  height: 65px;
  padding: 12px 20px;
  background: $white;
  justify-content: space-between;
  h1 {
    color: $black;
    font-weight: 600;
  }
  .action-group__vacancy-feed {
    justify-content: space-between;
    gap: 40px;
    .action-box__vacancy-feed {
      transition: all 5s ease-in;
      p {
        margin-top: -5px;
        margin-left: 5px;
        color: $black;
      }
      &:nth-child(2) {
        display: inline-block;
        position: relative;
        .calendar-container {
          position: absolute;
          top: 40px;
          right: -205px;
          z-index: 999;
        }
      }
    }
  }
}
@media (max-width: 1130px) {
  .vacancy-feed {
    max-width: 100% !important;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 830px) {
  .vacancy-feed {
    width: 100% !important;
  }
  .vacancy-feed .action-group__vacancy-feed .action-box__vacancy-feed p{
    display: none;
  }
}
@media (max-width: 620px) {
  .vacancy-feed {
    padding: 10px;
    .action-group__vacancy-feed {
      gap: 20px;
    }
  }
}
@media (max-width: 450px) {
  .vacancy-feed{
    h1{
      font-size: 21px;
    }
  }
}