@import "../../../../sass/variables";
.grants-main {
  padding-bottom: 50px;
  width: 924px;
  display: flex;
  flex-direction: column;
  gap: 40px !important;
}
@media (max-width: 1130px) {
  .grants-main {
    align-items: center;
    width: 100%;
  }
}
