@import "../../../../sass/variables.scss";

.vacancy-card {
  background: $white;
  height: 234px;
  .vacancy-card__top {
    padding: 20px;
    justify-content: space-between;
    .left__vacancy-card {
      gap: 20px;
      .date-group__vacancy-card {
        gap: 3px;
        p {
          color: $grey;
        }
      }
    }
  }
  .vacancy-card__middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    .vacancy-card__title-group {
      .font-style__2431 {
        margin-bottom: 5px;
        color: $black;
      }
      .font-style__1417 {
        color: $grey;
      }
    }
    .vacancy-card__location-group {
      gap: 20px;
      p {
        color: $grey;
      }
      p:first-child {
        gap: 3px;
      }
    }
  }
  .vacancy-card__footer {
    padding: 24px 20px 20px 20px;
    justify-content: space-between;
    .left__footer {
      p {
        gap: 5px;
      }
    }
    .right__footer {
      gap: 20px;
    }
  }
}


@media (max-width: 800px) {
  .vacancy-card{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}