@import "../../../../sass/variables";
.grants-feed {
  margin-top: 20px;
  margin-bottom: 18px;
  width: 924px;
  height: 65px;
  padding: 12px 20px;
  background: $white;
  justify-content: space-between;
  h1 {
    color: $black;
    font-weight: 600;
  }
  .action-group__grants-feed {
    justify-content: space-between;
    gap: 40px;
    .action-box {
      transition: all 5s ease-in;
      p {
        margin-top: -5px;
        margin-left: 5px;
        color: $black;
      }
    }
  }
}
