@import "../../../../sass/variables";

.news-main {
  width: 924px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 40px;
}
@media (max-width:920px){
  .news-main{
    width: 100%;
  }
}