  @import "../../../../sass/variables.scss";

  .grants-card {
    padding: 20px 0;
    height: 601px !important;
    background: $white;
    .grants-card__top {
      padding: 0 20px;
      justify-content: space-between;
    }
    .grants-card__type {
      padding: 0 20px;
      margin-top: 6px;
      margin-bottom: 20px;
      color: $grey;
      font-weight: 500;
    }
    .grants-card__middle {
      p {
        width: 90%;
        padding: 0 20px;
        color: $black;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
    .footer__grants-card {
      background: $white;
      padding: 0 20px;
      padding-top: 20px;
      justify-content: space-between;
      .left__footer {
        align-self: center;
        align-content: center;
        justify-content: center;
        gap: 40px;
        p {
          gap: 5px;
        }
      }
      .right__footer {
        gap: 20px;
      }
    }
  }