@import "../../sass/variables.scss";

.header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 18px 100px;
  background-color: #fff;
  z-index: 99;

  .container {
    max-width: 1498px;
    margin: 0 auto;
  }

  &-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__images {
      display: flex;
      align-items: center;
      gap: 20px;
      .hamburger-menu:hover {
        filter: invert(34%) sepia(93%) saturate(677%) hue-rotate(100deg)
          brightness(95%) contrast(101%);
      }
    }

    .inner-wrapper {
      display: flex;
      gap: 11vw;
    }

    &__searching {
      position: relative;

      input {
        width: 400px;
        padding: 20px 40px;
        border: none;
        background: #fafafa;
      }

      &-icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 20px;

      .close-plus {
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: -60px;
        right: 10px;
        background: $green;
        height: 50px;
        display: none;
      }

      .actions-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &-add {
        display: flex;
        align-items: center;
        gap: 7px;
        border: none;
        padding: 20px;
        color: #fff;
        background-color: #008b34;

        span {
          font-size: 27px;
        }
      }

      span {
        position: relative;

        .dropdown__header--short {
          display: none;
          padding: 10px 25px 10px 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
          outline: none;
          border: none;
          background-color: #f5f5f5;
        }

        .dropdown-icon {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &-login {
        position: relative;

        .enter-group:hover {
          img {
            filter: invert(34%) sepia(93%) saturate(677%) hue-rotate(100deg)
              brightness(95%) contrast(101%);
          }
          .enter {
            color: $green;
          }
        }

        button {
          display: flex;
          align-items: center;
          gap: 7px;
          padding: 14px;
          border: none;
          background-color: #fff;
        }

        .login-content {
          position: absolute;
          right: 12%;
          width: 393px;
          padding: 0px 60px 0px 20px;
          background-color: #fff;
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);

          .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
              filter: invert(34%) sepia(93%) saturate(677%) hue-rotate(100deg)
                brightness(95%) contrast(101%);
            }
          }

          &__user {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 45px;
            background-color: #f7f8fa;
            padding: 10px 12px;

            .camera {
              padding: 12px;
              background-color: #d8e0e7;
              border-radius: 50%;

              img {
                height: 24px;
                width: 24px;
              }
            }

            &-info {
              width: 100%;
            }
          }

          &__sections {
            margin: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .section {
              display: flex;
              justify-content: space-between;
              align-items: center;

              &-link {
                display: flex;
                gap: 0.5rem;

                p {
                  color: #000;
                }

                &:hover {
                  img {
                    filter: invert(34%) sepia(93%) saturate(677%)
                      hue-rotate(100deg) brightness(95%) contrast(101%);
                  }
                  p {
                    color: $green;
                  }
                }
              }

              .switch-input {
                height: 0;
                width: 0;
                visibility: hidden;
              }

              .switch-label {
                cursor: pointer;
                text-indent: -9999px;
                width: 40px;
                height: 24px;
                background: black;
                display: block;
                border-radius: 12px;
                position: relative;
              }
              .switch-label:after {
                content: "";
                position: absolute;
                top: 1px;
                left: 1px;
                width: 23px;
                height: 22px;
                background: #fff;
                border-radius: 50%;
                transition: 0.3s;
              }

              .switch-input:checked + .switch-label {
                background: green;
              }

              .switch-input:checked + .switch-label:after {
                left: calc(100% - 1px);
                transform: translateX(-100%);
              }

              .switch-label:active:after {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1601px) {
  .inner-wrapper {
    gap: 295px !important;
  }
}
@media (max-width: 1500px) {
  .header {
    padding: 18px 50px !important;
  }
  .header-section__searching {
    input {
      max-width: 300px;
    }
  }
}
@media (width <=1130px) {
  .header {
    padding: 18px 0 !important;
    padding-bottom: 0 !important;
    padding-top: 5px !important;
    background: $lightgrey;
    max-width: 100%;
    width: 100%;
    .container {
      max-width: 100%;
      width: 100%;
    }
    .header-section__searching {
      input {
        max-width: 370px;
      }
    }
    .header-section {
      flex-direction: column;
      width: 100%;

      &__images {
        width: 100%;
        padding: 0 17px;
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .inner-wrapper {
        width: 100%;
        padding: 17px 25px;
        background: white;
        justify-content: space-between !important;
        // gap: 4px;
      }

      &__actions {
        gap: 30px;

        .actions-wrapper {
          flex-direction: row-reverse;
          gap: 30px;
        }

        &-add {
          background-color: transparent;

          div {
            display: none;
          }

          span {
            color: #008b34;
            font-size: 2.5rem;
          }
        }

        .dropdown__header {
          display: none;
        }

        .dropdown__header--short {
          display: block;
        }

        .dropdown-icon {
          right: 5px;
        }

        &-login .enter {
          display: none;
        }
      }
    }
  }
}
@media (width <=730px) {
  .header .header-section .inner-wrapper {
    padding: 15px;
  }
  .header-section__searching {
    width: 45% !important;
    input {
      max-width: 100% !important;
    }
  }
  .header .header-section__actions {
    gap: 0;
    .actions-wrapper {
      gap: 0;
    }
  }
}
@media (max-width: 500px) {
  .header {
    .header-section {
      flex-direction: column;
      gap: 17px;

      .header-section__actions-add {
        padding: 0;
      }

      .header-section__searching {
        width: 65% !important;
      }

      &__images {
        flex-direction: row-reverse;
      }

      &__actions {
        // transform: translateX(150%);
        transition: all 0.3s ease;

        .actions-wrapper {
          flex-direction: row-reverse;
          // gap: 30px;
        }

        &-add {
          background-color: transparent;

          div {
            display: none;
          }

          span {
            color: $green;
            font-size: 2.5rem;
          }
        }

        .dropdown__header {
          display: none;
        }

        .dropdown__header--short {
          display: none;
        }

        .dropdown-icon {
          right: 5px;
          display: none;
        }

        &-login {
          display: none;
        }

        &-login .enter {
          display: none;
        }
      }

      &__actions--active {
        padding-top: 58px;
        transform: translateX(0%);
        position: fixed;
        top: 70px;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: $F7F8FA;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .close-plus {
          display: flex;
        }

        .actions-wrapper {
          flex-direction: column;
          gap: 30px;
        }

        .header-section__actions-add {
          padding: 15px 23px;
          background-color: $green;
          div {
            display: block !important;
          }

          span {
            color: $white;
          }
        }

        .dropdown__header {
          display: block;
        }

        .dropdown__header--short {
          display: none;
        }

        .dropdown-icon {
          right: 5px;
          display: block;
        }

        .header-section__actions-login {
          display: block;
          order: -1;
          button {
            background: transparent;
          }
        }

        .header-section__actions-login .enter {
          display: block;
        }

        .login-content {
          position: fixed;
          top: -60px;
          right: 0;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .header-section {
      .header-section__searching {
        width: 80% !important;
      }
      .inner-wrapper {
        background: #fafafa;
        padding: 0 16px;
      }
    }
    .header-section__images {
      img:nth-child(2) {
        width: 100px;
      }
    }
  }
}

.select-box {
  position: relative;
  display: block;
  width: 143px;
  height: 50px;
  font-size: 18px;
  color: #60666d;
  background: rgb(48, 219, 91);
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
  background: #000 !important;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: flex;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  margin-top: -5px;
  align-items: center;
  padding-left: 15px;
  height: 59px;
  background: #fafafa;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 7px 15px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: $white;
  background-color: $green;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
