@import "../../sass/variables.scss";

.sidebar {
  position: fixed;
  width: 253px;
  max-height: calc(100vh - 9rem);
  margin-top: 20px;
  margin-left: 100px;
  padding-left: 10px;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .active-link {
    margin-left: -15px;
    padding: 17px 0 16px 20px;
    background: $white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  }

  .active-page {
    margin-left: -10px;
    padding: 17px 0 16px 10px;
    background: $white;
    border: 1px solid $grey;
  }

  .sidebar__links {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .sidebar__link {
    width: 253px;
    gap: 20px;
    transition: all 0.3s ease;
    p {
      font-weight: 500;
      color: $black;
    }
  }

  .sidebar__pages {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4 {
      width: 239px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid $grey;
      color: $darkgrey;
    }

    .sidebar__page {
      width: 253px;
      align-items: center;
      gap: 20px;
      transition: all 0.5s ease;
      p {
        font-weight: 500;
        color: $black;
      }
    }
  }

  .sidebar__footer {
    padding-top: 20px;
    border-top: 0.5px solid $grey;
    width: 239px;
    p {
      color: $black;
    }
    p:first-child {
      margin-bottom: 6px;
    }
    p:nth-child(2) {
      margin-bottom: 10px;
    }

    .sidebar__social-group {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
}

@media (max-width: 1500px) {
  .sidebar {
    background: $lightgrey;
    width: 300px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 50px;
    z-index: 9999;
    height: auto;
  }
}
@media (width <=1130px) {
  .sidebar {
    top: 70px;
    width: 100%;
    height: 100%;
    padding-left: 0;
    max-height: 100%;
    align-items: center;
    text-align: center !important;
    .active-link {
      margin-left: 0;
      padding: 0;
      background: none;
      box-shadow: none;
      p {
        padding-bottom: 5px;
        border-bottom: 3px solid $green;
      }
    }
    .sidebar__links {
      gap: 25px;
      text-align: center;
      // align-items: center !important;
      align-items: baseline;

      // align-content: center;
      // align-self: center;
      width: 250px;
      margin: 0 auto;
      .sidebar__link {
        width: 50%;
        align-self: center;
        p {
          text-align: center;
        }
        img {
          display: none;
        }
      }
    }
    .sidebar__pages {
      display: none !important;
    }
    .sidebar__footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
