@import "../../sass/variables.scss";
.back-group {
    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: $green;
    cursor: pointer;
  }
.vacancy-full-container {
  margin-bottom: 50px;
  height: 1074px;
    background: $white;

  .vacancy__full-info {

    background: $white;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .font-style__2024 {
      font-weight: 500;
      color: $black;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;
      li {
        list-style-position: outside;
        list-style-type: disc;
      }
    }
    .demand-list,
    .task-list {
      margin-bottom: 20px;
    }
    .condition-list{
      margin-bottom: 10px;
    }
    .font-style__1417 {
      color: $grey;
    }
  }
  .contact-btn{
    width: 100%;
    height: 40px;
    justify-content: center;
    color: $white;
    background: $green;
    border: none;
    outline: none;
  }
}
