@import "./sass/variables";
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter-SemiBold.woff") format("woff"),
    url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Inter-Medium.woff") format("woff"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff") format("woff"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2"),
    url("./assets/fonts/Inter-Light.woff") format("woff"),
    url("./assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}
html{
  font-size: 16px;
}
body {
  background: $lightgrey;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
button,
img {
  cursor: pointer;
}
img {
  &:hover {
    filter: invert(34%) sepia(93%) saturate(677%) hue-rotate(100deg)
      brightness(95%) contrast(101%);
  }
}
input {
  outline: none;
}

// GENERAL CLASSES
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  gap: 70px;
  // position: relative;
}
.main-inner {
  display: flex;
  gap: 80px;
}
@media (min-width: 1601px) {
  .main {
    gap: 110px;
  }
}

.back-group {
  margin-top: 20px;
  margin-left: -70px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: $green;
  cursor: pointer;
}
.three-dots {
  display: inline-flex;
  position: relative;
  .dots-content {
    padding: 10px 20px;
    display: none;
    position: absolute;
    top: 17px;
    right: 0;
    width: 180px;
    overflow: auto;
    background: $white;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.12);
    a {
      text-align: center;
      display: flex;
      gap: 5px;
      color: $black;
      padding: 5px 0;
    }
  }
  &:hover .dots-content {
    display: block;
  }
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $onlyD;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: $lightgrey;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: $lightgrey;
  border-color: $green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5.5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid $green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
// FONT STYLE CLASSES (first 2 number for font size last two number for line height)
.font-style__1215 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;
}
.font-style__1417 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
}
.font-style__1619 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
}
.font-style__1625 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
}
.font-style__2024 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
}
.font-style__2431 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 31px;
}
.font-style__3239 {
  font-weight: 500;
  font-size: 32px;
  line-height: 2rem;
}
.font-style__3441 {
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 41px;
}
