@import "./sass/variables";
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter-SemiBold.woff") format("woff"),
    url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Inter-Medium.woff") format("woff"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff") format("woff"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2"),
    url("./assets/fonts/Inter-Light.woff") format("woff"),
    url("./assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}
body {
  background: $lightgrey;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
button,
img {
  cursor: pointer;
}
img {
  &:hover {
    filter: invert(34%) sepia(93%) saturate(677%) hue-rotate(100deg)
      brightness(95%) contrast(101%);
  }
}
input {
  outline: none;
}

// GENERAL CLASSES
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.select {
  width: 192px;
  height: 40px;
  border: 1px solid $onlyD;
  color: #8c8c8c;
  padding: 12px 11px 11px 10px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a09f9f;
}
.main {
  display: flex;
  gap: 70px;
  // position: relative;
}
.main-inside-container {
  display: flex;
  gap: 80px;
}
@media (min-width: 1601px) {
  .main {
    gap: 110px;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $onlyD;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: $lightgrey;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: $lightgrey;
  border-color: $green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5.5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid $green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
// FONT CLASSES (first 2 number for font size last two number for line height)
.f-1215 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.f-1417 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.f-1619 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.f-1625 {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.f-2024 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.f-2431 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.f-3441 {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
}
.f-3239 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
